<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PadraInsurancePrescription.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PIP_connectionString" connectionString="Data Source=.;Initial Catalog=PadraInsurancePrescription;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="PadraInsurancePrescription.Properties.Settings.PadraInsurancePrescriptionConnectionString" connectionString="Data Source=.;Initial Catalog=PadraInsurancePrescription;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <PadraInsurancePrescription.Properties.Settings>
      <setting name="boxes_font" serializeAs="String">
        <value>B Roya, 10pt</value>
      </setting>
      <setting name="font" serializeAs="String">
        <value>B Roya, 12pt</value>
      </setting>
      <setting name="LabelTextAlign" serializeAs="String">
        <value>MiddleRight</value>
      </setting>
    </PadraInsurancePrescription.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="last_directory_for_saving_file" value=""/>
    <add key="padra_phone_number" value="08733568920 - 09309785270"/>
    <add key="padra_website" value="www.Padra-Co.ir"/>
    <add key="padra_title" value="مکانیزاسیون اسناد و داده های پزشکی و درمانی"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ParaclinicWebServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://darmanws.tamin.ir/paraclinicwebservice.asmx" binding="basicHttpBinding" bindingConfiguration="ParaclinicWebServiceSoap" contract="TaminParaclinicWebService.ParaclinicWebServiceSoap" name="ParaclinicWebServiceSoap"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
